@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-amber-50 text-gray-800 tracking-wide
  }}

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-left {
    animation: slide-in-left 0.5s ease-in-out;
  }
  
  .slide-in-right {
    animation: slide-in-right 0.5s ease-in-out;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
    background-color: rgb(238, 238, 238);
  }
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }